.CreateQuiz {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/background.avif");
  background-size: cover;
}
.CreateQuiz .CreateQuiz__send {
  padding: 10px 15px;
  background-color: rgb(66, 172, 66);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 32px;
  cursor: pointer;
}
.CreateQuiz .CreateQuiz__inp {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  font-size: 26px;
  border: 1px solid black;
  padding: 0 5px;
  background-color: transparent;
  margin: 10px 0;
}
.CreateQuiz .CreateQuiz__main {
  width: 60%;
  min-height: 10vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 20px 50px;
}
.CreateQuiz .CreateQuiz__main .CreateQuiz__main__text {
  font-size: 24px;
  margin: 20px 0;
}
.CreateQuiz .CreateQuiz__main .CreateQuiz__main__questions {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(20, 20, 20, 0.2);
  padding-bottom: 10px;
}
.CreateQuiz .CreateQuiz__main .CreateQuiz__main__questions .CreateQuiz__main__questions__btn {
  padding: 10px 20px;
  font-size: 28px;
  background: rgba(20, 20, 20, 0.2);
  border-radius: 10px;
  cursor: pointer;
}
.CreateQuiz .CreateQuiz__main .CreateQuiz__testName {
  width: 100%;
  font-size: 24px;
  margin: 20px 0;
  border-bottom: 1px solid rgba(20, 20, 20, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.CreateQuiz .CreateQuiz__main .CreateQuiz__main__topic {
  font-size: 36px;
  font-family: "Geologica", sans-serif;
  text-align: center;
}

.CreateQuizQuestion {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.CreateQuizQuestion .CreateQuizQuestion__del {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.CreateQuizQuestion .CreateQuizQuestion__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.CreateQuizQuestion .CreateQuizQuestion__top .CreateQuizQuestion__count {
  font-size: 24px;
  display: flex;
}
.CreateQuizQuestion .CreateQuizQuestion__top .CreateQuizQuestion__count .CreateQuizQuestion__count__text {
  margin-right: 5px;
}
.CreateQuizQuestion .CreateQuizQuestion__top .CreateQuizQuestion__inp {
  width: clamp(200px, 80%, 400px);
  height: 30px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 5px;
  background-color: transparent;
  margin: 0 5px;
}
.CreateQuizQuestion .CreateQuizQuestion__ans {
  width: 100%;
  min-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}
.CreateQuizQuestion .CreateQuizQuestion__ans ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(220, 220, 220);
  opacity: 1; /* Firefox */
}
.CreateQuizQuestion .CreateQuizQuestion__ans .CreateQuizQuestion__ans__btnBox {
  width: 45%;
  width: 45%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: clamp(200px, 100%, 300px);
  margin: 10px 20px;
}
.CreateQuizQuestion .CreateQuizQuestion__ans .CreateQuizQuestion__ans__btnBox .CreateQuizQuestion__ans__btn {
  padding: 10px 20px;
  font-size: 28px;
  background: rgba(20, 20, 20, 0.2);
  border-radius: 10px;
  cursor: pointer;
}
.CreateQuizQuestion .CreateQuizQuestion__ans .CreateQuizQuestion__ans__box {
  width: clamp(200px, 100%, 300px);
  height: 100px;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}
.CreateQuizQuestion .CreateQuizQuestion__ans .CreateQuizQuestion__ans__box .CreateQuizQuestion__ans__box__btns {
  width: 32px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5px 0;
}
.CreateQuizQuestion .CreateQuizQuestion__ans .CreateQuizQuestion__ans__box .CreateQuizQuestion__ans__box__btns .CreateQuizQuestion__isRight {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
}
.CreateQuizQuestion .CreateQuizQuestion__ans .CreateQuizQuestion__ans__box .CreateQuizQuestion__ans__box__question {
  resize: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 950px) {
  .CreateQuiz .CreateQuiz__main {
    width: 99%;
  }
}
@media screen and (max-width: 600px) {
  .CreateQuizQuestion .CreateQuizQuestion__top .CreateQuizQuestion__count .CreateQuizQuestion__count__text {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .CreateQuiz .CreateQuiz__main {
    padding: 10px 5px;
  }
  .CreateQuiz__testName__text {
    text-align: center;
  }
  .CreateQuiz .CreateQuiz__inp {
    width: 100%;
  }
}

/*# sourceMappingURL=CreateQuiz.css.map */
