$red:red;
$yellow:yellow;
$green:green;
$blue:blue;
$pink:pink;
$gray:rgba(240, 240, 240, 1);
$transparntGrat:rgba(200, 200, 200, 0.2);
$black:rgba(20,20,20,0.2);
// font-family: 'Geologica', sans-serif;
// font-family: 'Roboto', sans-serif;
