@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}